<table class="table">

    <tbody>


        <tr>
            <td>
                <a asp-action="Worker" asp-controller="Workers"><p>Quản lý nhân viên</p></a>
            </td>
            <td>
                <a asp-action="Index" asp-controller="Customers"><p>Quản lý khách hàng</p></a>
            </td>
            <td>
                <a asp-action="Index" asp-controller="Categories"><p>Quản lý loại sản phẩm</p></a>
            </td>
            <td>
                <a asp-action="Index" asp-controller="Products"><p>Quản lý sản phẩm</p></a>
            </td>
            <td>
                <a asp-action="Index" asp-controller="Orders"><p>Quản lý hóa đơn</p></a>
            </td>

        </tr>

    </tbody>
</table>
