@model MvcPhone.Models.Worker

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="STT" />
            <div class="form-group">
                <label asp-for="idNV" class="control-label"></label>
                <input asp-for="idNV" class="form-control" />
                <span asp-validation-for="idNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hoten" class="control-label"></label>
                <input asp-for="hoten" class="form-control" />
                <span asp-validation-for="hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sdt" class="control-label"></label>
                <input asp-for="sdt" class="form-control" />
                <span asp-validation-for="sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diachi" class="control-label"></label>
                <input asp-for="diachi" class="form-control" />
                <span asp-validation-for="diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngaysinh" class="control-label"></label>
                <input asp-for="ngaysinh" class="form-control" />
                <span asp-validation-for="ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gioitinh" class="control-label"></label>
                <input asp-for="gioitinh" class="form-control" />
                <span asp-validation-for="gioitinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="luong" class="control-label"></label>
                <input asp-for="luong" class="form-control" />
                <span asp-validation-for="luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass" class="control-label"></label>
                <input asp-for="pass" class="form-control" />
                <span asp-validation-for="pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trangthai" class="control-label"></label>
                <input asp-for="trangthai" class="form-control" />
                <span asp-validation-for="trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phanquyen" class="control-label"></label>
                <input asp-for="phanquyen" class="form-control" />
                <span asp-validation-for="phanquyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
